h2 {
  color: black;
  margin: 0 0 1rem;
}

a {
  text-decoration: underline;
  text-decoration-color: black;
  color: black;
}



.bottom-margin {
  margin-bottom: 50px;
}

.menu-distance {
  height: 80px;
}

.navbar-section {
  a {
    font-size: 0.9rem;
    color: $primary;
  }
}

.devo-section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-family: Cooper, Georgia, Times, Times New Roman, serif;
}

.green-bg {
  background-color: #A2BA24;
}

.gray-bg {
  background-color: #F6F6F6;
}

.logo-text {
  width: 400px;

  @media (max-width: $size-md) {
    width: 100%;
  }

  @media (min-width: $size-md) {
    padding-top: 25vh;
  }
}

.sub-content {
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana, sans-serif;

  label,
  .form-input {
    color: black;
    font-size: 20px;

  }
}

.obj-vert-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hero-banner {
  @media (max-width: $size-md) {
    padding: 30px;
  }

  .logo {


    .inferno-logo {
      width: 100%;
      max-width: 600px;

      @media (max-width: $size-md) {
        margin: 0 auto;
        width: 100%;
      }
    }
  }

  h1 {
    color: black;
    font-weight: 300;
    letter-spacing: -.03125rem;
    line-height: 1;
    font-size: 2.2rem;
    text-align: left;
    margin: 0;

    @media (max-width: $size-md) {
      margin: 0;
      font-size: 1.8rem;

    }
  }

  h2 {
    font-size: 1.2rem;
    font-weight: 250;
  }
}

.one-img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-bottom: 10px;
  max-width: 400px;
  max-height: auto;
  height: auto;

}

.quote-content {
  font-size: 16px;
  color: #403b3b;
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana, sans-serif;
}

.quote-source {
  font-size: 16px;
  color: black;
}

.text-side {
  color: black;
  font-size: 20px;
  font-weight: 350;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div {
    max-width: 600px;
  }

  @media (max-width: $size-md) {
    order: 2;
    align-items: center;

    div {
      max-width: 100%;
    }
  }
}


.img-side-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .img-side {
    width: 100%;
    max-width: 400px;
    object-fit: contain;

    @media (max-width: $size-md) {
      margin-top: 25px;
      margin-bottom: 25px;


    }
  }

  @media (max-width: $size-md) {
    order: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
  }
}


.differences {
  .differences-item {
    list-style: none;

    &::before {
      color: $primary;
      content: "\2022";
      font-size: 1.8em;
      padding-right: 0.3rem;
      position: relative;
      top: 3px;
    }
  }
}

.press-container {
  z-index: 1;
  margin: auto;
  padding-bottom: 25px;
  color: black;
  font-size: 20px;
  font-weight: 350;

  @media (max-width: $size-md) {
    max-width: 80;
  }

}

.thin-link {
  font-size: 1.2rem;
  font-weight: 250;
  color: black;

  &:active {
    color: black;
  }
}

.faq {
  margin: 25px;

  label {
    font-size: 1.3rem;
    color: black;
  }

  .faq-text {
    font-size: 1.125rem;
    font-weight: 350;
  }
}

.contact-btn {
  width: 200px;
  font-size: 24px;
  box-shadow: rgb(136, 136, 136) 2px 4px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-image: initial;
  padding: 15px;
  background: white;

  @media (max-width: $size-md) {
    width: 100%;
  }
}

.contacts {
  max-width: 600px;

  @media (max-width: $size-md) {
    width: 100%;
  }

  .form-input {
    border: 0 solid #babec8;
    height: auto;
    margin-bottom: 10px;
  }
}

.footer {
  margin: 15px 0px 15px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  a {
    margin-right: 30px;
  }

  @media (max-width: $size-md) {
    justify-content: space-evenly;

    a {
      margin-right: 0px;
    }
  }
}

button, button::after {
  padding-left: 15px;
  min-width: 200px;
  height: 56px;
  text-transform: uppercase;
  font-size: 16px;
  background: linear-gradient(45deg, transparent 5%, rgb(95, 95, 95) 5%);
  border: 0;
  color: rgb(197, 197, 197);
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px rgb(75, 75, 75);
  outline: transparent;
  position: relative;
  margin-bottom: 25px;
  cursor: pointer;
}

button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'Devoleum';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #a2ba24 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}