/* CARD ITEM */

.card_container {
    display: flex;
    padding: 15px;
    max-width: 100%;
    background: white;
    cursor: pointer;
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
    transition: all 0.3s ease-out;
    transform: translateZ(0);
    margin-bottom: 15px;
  }
  
  .card_container:hover {
    box-shadow: rgba(45, 45, 45, 0.05) 0px 2px 2px,
      rgba(49, 49, 49, 0.05) 0px 4px 4px, rgba(42, 42, 42, 0.05) 0px 8px 8px,
      rgba(32, 32, 32, 0.05) 0px 16px 16px, rgba(49, 49, 49, 0.05) 0px 32px 32px,
      rgba(35, 35, 35, 0.05) 0px 64px 64px;
    transform: translate(0, -4px);
  }
  
  .card_text {
    padding-left: 15px;
  }
  
  .card_text_title {
    font-weight: bold;
    color: black;
  }
  
  .card_text_merch {
    font-weight: bold;
    color: green;
    text-decoration: underline;
  }
  .card_text_desc {
    margin-top: 5px;
  }
  
  .card_text_more {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-weight: bold;
    color: green;
  }
  
  .card_text_date {
    position: absolute;
    bottom: 15px;
    left: 230px;
    font-weight: bold;
  }
  
  @media only screen and (max-width: 600px) {
    .card_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 600px;
    }
  
    .card_image {
      margin-bottom: 15px;
    }
  
    .card_text_date {
      position: absolute;
      bottom: 15px;
      left: 15px;
      font-weight: bold;
    }
  }